on:
  push:
    tags: ["v*"]

name: Continuous delivery
permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/ci.yaml
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    needs: [test]
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: install cargo-get
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-get
      - name: set variables
        run: |
          # vX.Y.Z is release version
          # vX.Y.Z-foo is pre-release version
          VERSION=${GITHUB_REF#refs/tags/v}
          VERSION_NUMBER=${VERSION%-*}
          PUBLISH_OPTS=""
          echo VERSION=${VERSION} >> $GITHUB_ENV
          echo PUBLISH_OPTS=${PUBLISH_OPTS} >> $GITHUB_ENV
          echo VERSION_NUMBER=${VERSION_NUMBER} >> $GITHUB_ENV
      - name: publish apalis-core
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: ${{ env.PUBLISH_OPTS }} -p apalis-core
      - name: publish apalis-sql
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: ${{ env.PUBLISH_OPTS }} -p apalis-sql
      - name: publish apalis-codec
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: ${{ env.PUBLISH_OPTS }} -p apalis-codec
      - name: publish apalis-workflow
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: ${{ env.PUBLISH_OPTS }} -p apalis-workflow
      - name: publish apalis-file-storage
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: ${{ env.PUBLISH_OPTS }} -p apalis-file-storage
      - name: publish apalis
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: ${{ env.PUBLISH_OPTS }} -p apalis
